<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/css/freelancer.css" rel="stylesheet">
	<link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">

function go(id)
{
alert("Do You Really Want to Delete Information");
$('#deleteId').val(id);
	$('form#form1').submit();
}

function adminview(id)
{
	$('form#form1').attr('action','/adminview');
	$('#adminviewId').val(id);
	$('form#form1').submit();
}

function adminedit(id)
{
	$('form#form1').attr('action','/adminedit');
	$('#admineditId').val(id);
	$('form#form1').submit();
}

</script>
</head>
<body id="page-top" class="index" style="background:#18bc9c;">
<nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
           <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll" style="font-size:20px;">
                        <a href='/admin'>  Admin  </a>
                    </li>
                    <li class="page-scroll" style="font-size:20px;">
                        <a href='/sensor'>  Sensor  </a>
                    </li>
                    <li class="page-scroll" style="font-size:20px;">
                        <a href="/sensorowner">  Vendor  </a>
                    </li>
                    <li class="page-scroll" style="font-size:20px;">
                        <a href='/user'>  User  </a>
                    </li>
                    <li class="page-scroll" style="font-size:20px;">
                        <a href='https://54.213.240.232/'>  AWS Dashboard  </a>
                    </li>
                    <li class="page-scroll" style="font-size:20px;">
                        <a href='/signout'>  Signout  </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<br/><br/><br/><br/><br/>


<form style="margin: 4px 4px 4px 4px;" method="post" action="/deleteadmin" id="form1" >
<input type="hidden" name="deleteId" value="" id="deleteId"/>
<div style="color:white;margin-left:108px;"><H2>SENSOR DETAILS<H2></div>
</br>
<div class="container" style="color:white;margin-left:108px;">
<table class="container" style="border:1px solid white;">
<tr style="background-color:#2c3e50; border: 1px solid white;">

<th style="border: 1px solid white; padding:4px 10px 4px 10px;">Sensor-Id</th>
<th style="border: 1px solid white; padding:4px 10px 4px 10px;">Sensor Name</th>
<th style="border: 1px solid white; padding:4px 10px 4px 10px;">Sensor Location</th>
<th style="border: 1px solid white; padding:4px 10px 4px 10px;">Sensor Type</th>
<!--<th style="border: 1px solid white; padding:4px 10px 4px 10px;">Action</th>-->
</tr>
<% for(var i in data) 
	            {                     
            %>
<tr style="background-color:#2c3e50; border: 1px solid white;">
 
 </td>
<td style="border: 1px solid white;padding:4px 10px 4px 10px;">
					 <%= data[i].sensorid %> <br/>  
					 
 </td>
<td style="border: 1px solid white;padding:4px 10px 4px 10px;">
					 <%= data[i].sensorname %> <br/>  
 </td>
 <td style="border: 1px solid white;padding:4px 10px 4px 10px;">
					 <%= data[i].sensorlocation %> <br/> 
 </td>
 <td style="border: 1px solid white;padding:4px 10px 4px 10px;">
					 <%= data[i].sensortype %> <br/> 
 </td>
  
  
 <!--<td style="border: 1px solid white;padding:4px 10px 4px 10px;">

					 <button type="button" value="delete" onclick="javascript:go('<%= data[i].sensorid %>');">delete</button>-->
					<!--<input type="hidden" name="adminviewId" id="adminviewId"/>
					<button type="button" value="delete" onclick="javascript:adminview('<%= data[i].sensorid %>');">view</button>
					<input type="hidden" name="admineditId" id="admineditId"/>
					<button type="button" value="delete" onclick="javascript:adminedit('<%= data[i].sensorid %>');">Edit</button><br/>
           
 </td>-->
  

</tr>
 <% 
	            }  
	       %>

</table>
</div>
</form>



<!--
   <center><div style="width:400px; height:200px; border: solid black 1px;"><form style="margin: 4px 4px 4px 4px;" method="get" action="/admindelete" >  
   		<div><H1>Login<H1></div>
   		<div style="text-align: left;">
		<label >Enter your Email id</label>
		<input style="margin-left:12px; width:250px; " type="text" name="email" >
		</div>
	    <div style="text-align: left;" >
	    <label>Password</label>
	    <input style="margin-left:70px; width:250px;" type="password" name="password" >
	    </div></br>
	    <div>
	    User &nbsp<input type="radio" name="usertype" value="User"> &nbsp 
		Sensor Owner &nbsp<input type="radio" name="usertype" value="sensorowner"></b>
		Admin &nbsp<input type="radio" name="usertype" value="Admin"></b><br><br>
	    </div>        
	    <div >
	    <button type="submit" style="width:100px;" >Sign in</button>
	    </div>
		</form>
		</div>
		</center>
-->

</body>
</html>